.popup {
	max-width: 500px;
}

.reportList ul {
	margin: var(--toolbox-sp-4) 0 var(--toolbox-sp-8) var(--toolbox-sp-16);
	padding: 0;
}

.reportList li {
	margin: var(--toolbox-sp-2) 0;
}

.reportList b {
	display: block;
	margin-top: var(--toolbox-sp-4);
}
